@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.bg-header {
	height: 750px;
	background-image: url(../images/bg/img.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: right;
}

nav ul li.logo {
	float: left;
}
nav ul li a {
	color: #fff;
	padding: 30px;
	display: inline-block;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
}
nav ul li a:hover {
	color: #00a8ff;
	transition: 0.7s;
}

.text-banner {
	text-align: center;
	padding-top: 220px;
}

h3.sub {
	color: #1ebba3;
	font-size: 25px;
	letter-spacing: 2px;
}

.text-banner h1 {
	font-size: 79px;
	color: #fff;
	font-weight: 200;
}

p.skill {
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
}
p.icon {
	color: #fff;
	padding-top: 50px;
}

p.icon i {
	padding: 0 10px;
	cursor: pointer;
}

p.icon i:hover {
	color: #00a8ff;
	transition: 0.7s;
}

.bg-about {
	width: 60%;
	margin: 0 auto;
}
.user {
	width: 30%;
	margin: 20px auto;
}

.user img {
	width: 100%;
	border-radius: 50%;
	border: 10px solid #1ebba3;
	margin-left: -20px;
}

.judul-about {
	text-align: center;
	color: #303030;
}

.about {
	text-align: center;
	color: #666;
	padding: 15px;
	line-height: 1.7;
}

.break {
	margin: 50px 0;
	height: 200px;
}

.break {
	height: 750px;
	background-image: url(../images/bg/img-2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bg-service {
	margin: 0;
	height: 750px;
	/* background-color: red; */
}

.wrap-center {
	width: 80%;
	margin: 0 auto;
}

.judul {
	text-align: center;
}

.judul h3 {
	font-size: 20px;
	padding-top: 30px;
}

.judul h1 {
	font-size: 40px;
	font-weight: 300;
	color: #333;
	margin-bottom: 50px;
}

.service {
	height: 200px;
	width: 280px;
	text-align: center;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
	padding: 30px 20px;
	float: left;
	margin: 10px;
	background-color: #eee;
}

.service i {
	font-size: 40px;
	color: #333;
}

.service h3 {
	color: #333;
	padding: 10px 0;
}

.service p {
	font-size: 14px;
	color: #666;
	padding-top: 10px;
}

.bg-work {
	background-color: #ececec;
	height: 900px;
}
.work {
	width: 330px;
	float: left;
	margin: 10px;
}

.work img {
	width: 100%;
}

.bg-blog {
	height: 790px;
	margin: 50px 0;
}

.blog {
	width: 339px;
	text-align: center;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
	text-align: center;
	float: left;
	margin: 10px 9px;
}
.blog img {
	width: 100%;
}

.blog h2 {
	font-weight: 500;
	padding: 10px 0;
	color: #333;
}

.blog p {
	padding: 20px;
	color: #666;
	font-size: 13px;
	line-height: 1.7;
}

.blog hr {
	margin-top: 30px;
	border: none;
	border-bottom: 2px solid #ececec;
}
.blog p.author {
	font-size: 14px;
	font-weight: 400;
}

.bg-footer {
	clear: both;
	background-color: #1d1d1d;
	height: 150px;
}

.footer {
	text-align: center;
	color: #fff;
	padding: 20px 0;
}

.footer p {
	padding-top: 50px;
}

@media only screen and (min-width: 960px) {
	.bg-service {
		height: 1000px;
	}

	.bg-work {
		height: 1200px;
	}
}

@media (max-width: 768px){
	nav ul li a {
		display: none;
	}
}
